<?xml version="1.0" encoding="utf-8" ?>
<!--开启监测NLOG错误信息-->
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\work\log.txt">
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>

    <!-- 发生致命错误发送邮件日志 -->
    <target name="infoMail" xsi:type="Mail"
          smtpServer="smtp.exmail.qq.com"
          smtpPort="25"
          smtpAuthentication="Basic"
          smtpUserName="kawasaki@rplus.com"
          smtpPassword="Rv123456789"
          enableSsl="true"
          addNewLines="true"
          from="kawasaki@rplus.com"
          to="chengcui@rplus.com,kawasaki@rplus.com"
          subject="网站异常提醒"
          header="============================================================"
          body="${newline}
	                    發生時間：${longdate} ${newline}${newline}
	                    Log等級：${level:uppercase=true} ${newline}${newline}
	                    Logger：${logger} ${newline}${newline}
	                    Source：${callsite:className=true} ${newline}${newline}
	                    錯誤訊息：${message} ${newline}${newline}"
          footer="============================================================" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="infoMail"/>
  </rules>
</nlog>
